# s3 common parameters.
region: "US"
s3_url: "https://s3.seagate.com"
iam_url: "https://iam.seagate.com:9443"
https_iam_port: "9443"
http_iam_port: "9080"
head_urls: "/auth/health"
s3_cert_path: "/etc/ssl/stx-s3-clients/s3/ca.crt"
iam_cert_path: "/etc/ssl/stx-s3-clients/s3/ca.crt"
validate_certs: True
use_ssl: True
debug: False
retry: 1
email_suffix: "@seagate.com"
create_user_delay: 5
list_account_delay: 5
create_account_delay: 5
access_key_delay: 5
create_user_access_key_delay: 5
delete_account_delay: 5
reset_account_access_key_delay: 5
aws_cred_section: "default"
aws_path: "/root/.aws/credentials"
aws_config_path: "/root/.aws/config"
s3ServiceCount: 11
s3ServiceName: "s3server-c"
s3cfg_path: "/root/.s3cfg"
s3fs_path: "/etc/passwd-s3fs"
locust_details:
    user: "locust"
    email: "locust@seagate.com"
aws_locust_cred_section: "locust"
nfs_path: "cftic2.pun.seagate.com:/cftshare/jclientCloud/"
jClientCloud_path:
    dest: "scripts/jcloud/"
    source: "/root/jclientCloud/"
s3_logs: "/var/log/seagate/s3"
s3_ls_cmd: "ls /var/log/seagate/s3"
minio_repo: "https://dl.min.io/client/mc/release/linux-amd64/mc"
minio_path: "/root/.mc/config.json"
minio_crt_path_list:
    - "/root/.mc/certs/CAs/ca.crt"
    - "/root/.mc/certs/s3.seagate.com.crt"
stat_files:
    - "disk_usage.txt"
    - "cpuinfo.txt"
    - "ram_usage.txt"
    - "s3server_pids.txt"
    - "haproxy_pids.txt"
    - "m0d_pids.txt"
s3_services:
    authserver: "s3authserver"
    haproxy: "haproxy"
    network: "network"
CliConfig:
  iam_user:
    password: "KAGpbh5Tit5kX0lVGuxSeaOwsUTFaoIsaBFf64q8OqI="
  s3_account:
    password: "bbTlh4ugvzXd2/4ODI12T8p2rTCYj9t5rSkUVUKiotY="
  csm_user:
    password: "TS7Q7rlo43PyD8kmGEHiL54dekr+XXCgMPQRgH6gWyQ="
# s3autherver.
s3auth_endpoint: "http://{}:9080"

# Workaround for EOS-21382; delay for S3 operations in seconds
sync_delay: 60
sync_step: 10
delay:
  put_bkt_acl: 15
  put_bkt_policy: 10
  del_bkt_policy: 10
  put_obj_acl: 10
  set_bkt_tag: 15
  del_bkt_tag: 20
  set_obj_tag: 15
  del_obj_tag: 20

object_tagging_special_char: ["+", "-", "=", ".", "_", ":", "/", "@"]
