clients: 1
samples: 500
size: '128Mb'
loop_count: 10
#sizes in size_list are in Mb
size_list: [1, 2, 3, 4, 5, 6, 7]
# count to restart the rgw process
rgw_restart_cnt: 5
# count to retry IOs from client side
io_retry_count: 5
# delay between restarts
m0d_delay_restarts: 0
rgw_delay_restarts: 30

test_41234:
  nclients: 10
  nsamples: 30

test_41235:
  nclients: 10
  nsamples: 10

#overwrite object test
test_41230:
  max_object_size: 512 #Mb
  overwrite_cnt: 200

test_42246:
  num_loop: 300

test_42247:
  nclients: 10
  nsamples: 50
test_41245:
  #Before and after m0d restart
  rgw_restarts: 5
  num_loop: 500

test_42255:
  nclients: 10
  nsamples: 70
  num_loop: 10

test_41245:
  #Before and after m0d restart
  rgw_restarts: 5
  num_loop: 500

#overwrite object test-rgw
test_42251:
  max_object_size: 512 #Mb
  overwrite_cnt: 200

test_42252:
  nclients: 10
  nsamples: 50

test_42256:
  nclients: 10
  nsamples: 50
