caption,
#detailed_report_tab3,
#perf_graphs_heading {
  caption-side: top;
  width: auto;
  text-align: center;
  color: #0000a5;
  font-size: 20px;
}

thead {
  background-color: #7f8c8d;
}

body {
  background-color: #343a40;
  line-height: 1;
}

h4,
h6 {
  color: #ecf0f1;
}

td {
  border: 1px solid black;
  border-collapse: collapse;
}

